@model btl_nhom32.Models.Xuathang

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết đơn xuất hàng</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.Manv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Khachhang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Khachhang.Makh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ngayxh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ngayxh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.trangtxh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.trangtxh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idxh">Sửa</a> |
    <a asp-action="Index">Quay về bảng xuất hàng</a>
</div>
