@model btl_nhom32.Models.Nhacungcap

@{
    ViewData["Title"] = "Delete";
}

<h1>Bạn có chắc muốn xoá nhà cung cấp này ?</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenncc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenncc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diachincc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diachincc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sdtncc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sdtncc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emailncc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emailncc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ngayncc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ngayncc)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Mancc" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a asp-action="Index">Về bảng nhà cung cấp</a>
    </form>
</div>
