@model btl_nhom32.Models.Nhacungcap

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết nhà cung cấp</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenncc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenncc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diachincc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diachincc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sdtncc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sdtncc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emailncc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emailncc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ngayncc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ngayncc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Mancc">Sửa</a> |
    <a asp-action="Index">Về bảng nhà cung cấp</a>
</div>
